@model IdentityRole
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<form asp-action="Details" asp-controller="Roles" class="form-group">

    <div asp-validation-summary="All" class="text-danger font-bold"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ConcurrencyStamp" />
    <label asp-for="Name">Role Name</label>
    <br />
    <input type="text" asp-for="Name" class="form-control" readonly />
    <span asp-validation-for="Name" class="text-danger font-bold"></span>
    <br />
    <center>
        <a asp-controller="Roles" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Update</a>
        <a asp-controller="Roles" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-controller="Roles" asp-action="GetRoles" class="btn dtp-btn-clear">Cancel</a>
    </center>
</form>

@section JqueryValidation {
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
